body{
    font-family: Lato;
}
/*header style*/
.header
{
    width: 1920px;
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
}
.banner-content
    {
    display: flex;
    margin: 0px 200px;
    justify-content: space-between;
    }
.banner-title
   {
    display: flex;
    width: 708px;
    flex-direction: column;
   }
.banner-greeting
   {
    color: #272727;
    font-size: 80px;
    width: 708px;
   }
  
.text-primariy
   {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
   }
.btn-primary
   {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-color: #FFF;
   }
    .banner{
        width: 635px;
        height: 800px;
    }

    /* Bonus Section */
.greeting
{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    
}
.greeting-primariy
{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    width: 594;
}
.backgrount-img{

}
.img
{
    display: flex;
    text-align: center;
    margin-left: 280px;
    
    
}
.img-p{
    width: 310px;
    height: 428px;
    margin-top: 110px;
    
}

.img-1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    background-color: #fdccd5;
    margin-top: 30px;
}
.img-2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    background-color: #fdccd5;
    margin-top: 30px;
}


.img-3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    
    
    background-color:#0597A026;
    margin-top: 30px;
}
.img-link
{
    color: #272727;
    text-align: center;
    font-size: 24px;
    text-decoration-line: underline;
}

/*Main section Hot dial style*/
.Hot-dial{
    background-color: #f7edef;
    margin-top: 50px;
   
}
.section-main
{
    display: inline;
    align-items: center;
    
}
.section-description
{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px; 
    margin-top: 50px;
  
}
.spn
{
   color: #E55473;  
}
.section-title
{
    color: #272727;
    font-size: 40px;
    text-align: center;
    margin-top: 80px;
    
}

.Sign-Up
{
    text-align: center;
}

.alada{
    display: flex;
    margin: 0px 250px;
    justify-content: space-between;
}
/*instagram section*/
.instagram
{
    width: 1780px;
    height: 440px;
}
.instagram-title
{
    margin-top: 88px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.instagram-description
{
 color: #27272799;
text-align: center;
font-size: 18px;
font-weight: 400;
flex-direction: column;
}
.instagram-img{
margin-left: 230px;
}
.instagram-img-2 {
    margin-left: 10px;
}
.instagram-img-3 {
    margin-left: 10px;
}
.instagram-img-4 {
    margin-left: 10px;
}
/*Get The Latest Deals*/
.section-box{
    width: 1410px;
    height: 440px;
    display: flex;
    justify-content: center;
     background-image: url("./flower-shop-assignment/FlowerAsset/Rectangle-9.png");
     margin-left: 230px;
     margin-top: 85px;
     margin-bottom: 58px;;
     

}
.box-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 58px;

}
.content-description{
    color: #27272799;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
}
.input{
    border-radius: 8px;
    background: #FFF;
    width: 540px;
    height: 64px;
    border-color: #FFF;
}

   
   
/**Footer section**/


.footer{
    background: #111010;
    width: 1920px;
    height: 449px;
    padding-top: 80px; 
}
.footer-title{
    color: #FFF;
    font-size: 48px;
    text-align: center;
    }
.footer-content{
color: rgba(255, 255, 255, 0.90);
text-align: center;
font-size: 18px;
justify-content: center;
flex-direction: column;
}
.footer-bottm
{
    text-align: center;
    color:#f7edef ;
}